.account-name {
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.account-dropdown{
    background-color: gray;
    position: relative;
    top: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.account-dropdown > hr{
    margin: 5px;
    width:100%;
    border-top: 1px solid white;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.account-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-nav > span {
    font-size: 26px;
    font-weight: 400;
    cursor: pointer;
}

.account-nav-break{
    height: 28px;
    margin: 2px 10px 0px 10px;
    border: 1px solid darkgray
}

.account-shortcut{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    z-index: 3;
}

.shortcut-username{
    position: absolute;
    right: 40px;
    top:4px;
}

.user_icon {
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .shortcut-username{
        display: none;
    }
}