.alcohol-card {
    background-color: rgba(255, 255, 255, 0.15);
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    overflow: visible;
    box-sizing: border-box;
    color: white;
}

.alcohol-card-drink-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    text-align: left;
}

.alcohol-card-drink-entry-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.alcohol-card-drink-entry-glass {
    height: 50px;
    margin: -5px 0 -5px 0;
}

.alcohol-card-drink-entry-info {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alcohol-card-drink-entry-title {
    font-weight: 300;
    font-size: 18px;
    margin: -2px 0 0 0;
}

.alcohol-card-drink-entry-tag {
    height: 8px;
    width: 8px;
    border-radius: 10px;
    margin-right: 5px;
}

.alcohol-card-abv-value {
    margin-left: 12px;
    min-width: 50px;
    text-align: right;
    color: white;
}

@media screen and (max-width: 600px) {
    .alcohol-card {
        width: 100%;
    }
}
