.backup-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.backup-option {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border: 2px white solid;
    border-radius: 10px;
    text-align: center;
}