.clickable {
    cursor: pointer;
}

.filter-category-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
}

.filter-category-tag-container {
    display: flex;
    flex-flow: row wrap;
}

.filter-category-title {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 2px;
}

.filter-chevron {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.filter-panel-container {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
}

.filter-panel-subtitle {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: darkgray;
    margin: 5px 0 -5px 0;
}

.filter-panel-title {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .filter-panel-container {
        margin-left: 0px;
        width: 100%;
    }

    .filter-panel-subtitle {
        display: flex;
        align-self: center;
        max-width: 300px;
        margin: 0 0 -5px 0;
    }
    
    .filter-panel-title {
        margin: 10px 0 0 0;
    }
    
    .unselected-tag-filter {
        background-color: #000000;
    }
}