.login-input {
    border-color: white;
    border-radius: 10px;
    background-color: #1D1E1F;
    color: white;
    padding-left: 5px;
}

.login-button {
    margin-top: 10px;
    padding: 5px 8px 5px 8px;
    background-color: darkred;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .login-button{
        padding: 8px 13px 8px 13px;
        font-size: 20px;
    }
}