.manage-menus-icon {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 2px;
}

.manage-menus-entry-title {
    font-size: 20px;
    font-weight: 300;
    padding: 0px;
    margin: 2px 0px 0px 0px;
}

.manage-menus-entry-user {
    font-size: 16px;
    font-weight: 300;
    color: darkgray;
    padding: 0px;
    margin: 5px 0px 0px 10px;
}

@media screen and (max-width: 600px) {
    .manage-menus-entry-title {
        font-size: 22px;
        margin-top: 5px;
    }

    .manage-menus-entry-user {
        font-size: 18px;
    }
}