.statistics-category-container {
    width: 300px;
    margin-bottom: 25px;
}

.statistics-category-title {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.statistics-sort-instructions {
    font-weight: 300;
    font-size: 18px;
    color: darkgray;    
    text-align: center;
    margin: 0 0 15px 0;
}

.statistics-usage-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .statistics-category-container {
        width: 100%;
    }

    .statistics-category-title {
        font-size: 28px;
    }

    .statistics-sort-instructions {
        margin-bottom: 10px;
    }
}